@inject Aldebaran.Infraestructure.Common.Utils.ISharedStringLocalizer SharedLocalizer ;
<RadzenRow Gap="1rem" JustifyContent="JustifyContent.Normal" AlignItems="AlignItems.Center">
    <RadzenColumn Size="9">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Start" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.Start">
            <RadzenColumn>
                <RadzenRow>
                    <p class="p-0 m-0 text-end fw-lighter text-muted">
                        <small>Actualizado: @GridTimer.LastUpdate.ToString(SharedLocalizer["time:format"])</small>
                    </p>
                </RadzenRow>
            </RadzenColumn>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="3">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="1rem" Wrap="FlexWrap.Wrap" JustifyContent="JustifyContent.End">
            <RadzenImage Click="@AlertClick" Visible="@AlertVisible" Path="images/alert.gif" style="width: 30px"></RadzenImage>
            <RadzenButton Click="@DataUpdate" Icon="refresh" Variant="Variant.Filled" ButtonStyle="ButtonStyle.Primary" Size="ButtonSize.Medium" class="d-flex align-items-end rz-button-icon-only rz-border-radius-10" />
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>

@code {
    protected string ToggleIcon => IsPanelCollapsed ? "expand_more" : "expand_less";
}