[*.cs]

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = silent

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = none

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = none
