.report {
    font-family: Segoe UI, Segoe UI Web, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif !important;
    color: #323130 !important;
    line-height: 1.42857143 !important;
}

    .report * {
        font-size: 12px !important;
    }

    .report .border {
        border: 1px solid #dee2e6 !important;
    }

    .report .no-border {
        border: 0px !important;
    }

    .report .text-left {
        text-align: left !important;
    }

    .report .text-center {
        text-align: center !important;
    }

    .report .mb-0 {
        margin-bottom: 0 !important;
    }

    .report .mb-1 {
        margin-bottom: 0.5rem !important;
    }

    .report .mt-0 {
        margin-top: 0 !important;
    }

    .report .mt-1 {
        margin-top: 0.5rem !important;
    }

    .report .mt-2 {
        margin-top: 1rem !important;
    }

    .report .m-0 {
        margin: 0 !important;
    }

    .report .p-0 {
        padding: 0 !important;
    }

    .report p.title {
        background: #f5f5f5;
        padding: 0.25rem;
        margin: 0;
    }

    .report b {
        font-weight: 500;
    }

    .report .bold {
        font-weight: 600 !important;
    }

    .report .bolder {
        font-weight: 800 !important;
    }

    .report .inner-table-container {
        padding: 5px;
        background: #f7f7f7;
    }

        .report .inner-table-container .title {
            font-weight: 500;
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 5px;
        }

        .report .inner-table-container .content {
            border-bottom: 1px solid #dee2e6;
            margin-bottom: 5px;
        }

            .report .inner-table-container .content:last-child {
                border-bottom: 0;
            }

    .report h2 {
        text-align: center !important;
        font-size: 16px !important;
        margin-bottom: 0.5rem !important;
        font-weight: 500 !important;
        line-height: 1.2 !important;
        margin-top: 0 !important;
    }

    .report h3 {
        text-align: center !important;
        font-size: 18px !important;
        margin-bottom: 0.5rem !important;
        font-weight: 500 !important;
        line-height: 1.2 !important;
        margin-top: 0 !important;
    }

    .report table {
        width: 100% !important;
        margin-bottom: 5px !important;
        border-collapse: collapse !important;
        caption-side: bottom !important;
    }

        .report table tr th, .report table tr td {
            border: 0;
        }

        .report table.striped tbody tr:nth-of-type(odd) {
            background: #f5f5f5;
        }

        .report table.edged > tbody > tr {
            border-bottom: 1px solid #dee2e6 !important;
        }

            .report table.edged > tbody > tr:last-child {
                border-bottom: 0 !important;
            }

        .report table td {
            padding: 2px 4px !important;
        }

            .report table td.freeze {
                border-right: 1px solid #dee2e6;
            }

        .report table td {
            vertical-align: top !important;
        }

    .report .border {
        border: 1px solid #dee2e6 !important;
    }

    .report .border-left-1 {
        border-left: 1px solid #dee2e6 !important;
    }

    .report .border-top-1 {
        border-top: 1px solid #dee2e6 !important;
    }

    .report .border-bottom-1 {
        border-bottom: 1px solid #dee2e6 !important;
    }

    .report .border-right-1 {
        border-right: 1px solid #dee2e6 !important;
    }

    .report .border-bottom-0 {
        border-bottom: 0 !important;
    }

    .report .border-top-0 {
        border-top: 0 !important;
    }

    .report .border-top {
        border-top: 1px solid #dee2e6 !important;
    }

    .report .border-2 {
        border-width: 2px !important;
    }

    .report table tr.emphasys {
        background: #f7f7f7;
    }

    .report table thead tr {
        border-bottom: 1px solid #dee2e6 !important;
    }

        .report table thead tr th {
            text-align: left !important;
            padding: 0px 4px !important;
            font-size: 12px !important;
            vertical-align: top !important;
            font-weight: 600 !important;
        }

    .report .filters {
        text-align: right;
    }

        .report .filters .title {
            font-weight: 500;
            margin: 0;
            padding: 0;
            margin-top: 0.5rem;
        }

        .report .filters .type {
            font-style: italic;
            font-weight: 400;
        }

        .report .filters p {
            margin: 0;
            padding: 0;
        }
